@charset "ISO-8859-1";

*{
    padding: 0px;
    margin: 0px;
}

Body{
	background:url(../img/Adm.jpg);
	background-size: cover;
}

#container{
    margin: auto;
    width: auto; /*1349px*/
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

#encabezado {
margin: auto;
width: auto;
height: 100px;
background-color: transparent;
text-align: center;
}

#encabezado h3{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: fantasy;
    font-weight: bold;
}

#ingresardoctores{
    margin-top: 35px;
    margin-left: 5px;
    background:#000;
width: 400px;
height: 690px;
box-sizing: border-box;
padding: 70px 30px;
border-radius: 15px;
border: 2px solid #ccc;
opacity: .75;
}

#ingresardoctores h3{
    margin-bottom: 50px;
    font-family: fantasy;
    text-align: center;
    font-size: 25px;
    color:#fff;
}

#ingresardoctores label{
    display:block;
    font-family: fantasy;
    margin-top: 10px;
    color:#fff;
}

#ingresardoctores input[type="text"],
#ingresardoctores input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    width: 300px;
    font-size: 16px;
    font-family: fantasy;
    color:#fff;
}

#ingresardoctores .buttonA {
  float: right;
  margin-top: 10px;
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  background-color: rgb(240, 215, 72);
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}

#ingresardoctores .buttonA:hover{
     background-color: rgb(161, 138, 34);
}

#ingresardoctores .buttonC {
 margin-top: 10px;
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  background-color: rgb(250, 0, 0);
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}

#ingresardoctores .buttonC:hover{
    background-color: rgb(150, 22, 22);
}

#solicitudes1{
    margin-top: 85px;
    width: 750px;
    height:200px;
    background-color: #fff;
    border-radius: 15px;
}

.container1{
    width: 100%;
    height:30%;
    max-width: 1000px;/*limite de su ancho*/
    margin: auto;/*para que se centre cuando pase los 1000px */
    margin-top: 100px;
    background:#fff;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    opacity:0.75;
}

.table{
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    color:#000;
    font-family:fantasi;
   
}

.table caption{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
    background-color: hotpink;
}

/* .opcion{
    float: right;
    margin-right: 10px;
    margin-top: 2.5px;
    width: 65px;
    height: 25px;
    background-color: hotpink;
    border-radius: 10px;
    border:1px solid #000;
    font-family: fantasy;
    cursor: pointer;
}

.opcion:hover{
    background-color:#fff;
} */


.table th, .table td{
    font-size: 16px;
    padding: 8px;
    text-align: center;
    font-family: fantasy; 
    
}

.table thead th{
    text-transform: uppercase;
    background-color: rgb(170, 241, 112);
    border-bottom:2px solid black; 
}

@media screen and (max-width:600px){
    .table{
        border: 0px;
    }
    .table caption{
        font-size: 22px;
    }
    .table thead{
        display: none;
    }
    .table tr{
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table th, .table td {
        font-size: 12px;
    }
    
}

.footer {
	margin-top:60px;
}

#part2 {
  margin: auto;
  width: auto;
  height: 500px;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}

.especialidad {
  margin-top: 300px;
  width: 400px;
  height: 300px;
  background-color: black;
  margin-left: 5px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid #ccc;
  opacity: 0.75;
  display: block;
}

.especialidad h2 {
  text-align: center;
  color: #fff;
  font-family: fantasy;
  margin-top: 25px;
}

.especialidad label {
  font-size: 18px;
  color: #fff;
  font-family: fantasy;
  display: block;
  margin-left: 25px;
  margin-top: 10px;
}

.especialidad input[type="text"] {
  border: none;
  margin-left: 25px;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  width: 250px;
  font-size: 16px;
  font-family: fantasy;
  color: #fff;
}

.especialidad .btn-A {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  border: none;
  outline: none;
  height: 40px;
  width: 130px;
  background-color: rgb(21, 233, 67);
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}

.especialidad .btn-A:hover {
  background-color: rgb(35, 165, 35);
}

.especialidad .btn-C {
  margin-top: 10px;
  margin-left: 25px;
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  background-color: rgb(250, 0, 0);
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}
.especialidad .btn-C:hover {
  background-color: rgb(150, 22, 22);
}

.resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 130px;
  height: 100px;
  width: 52%;
  background-color: black;
  border-radius: 20px;
  opacity: 65%;
}

.resultadoTabla {
  text-align: left;
  border-collapse: collapse;
  width: 95%;
  font-size: 18px;
  color: #fff;
  font-family: fantasy;
}

.resultadoTabla thead {
  border-bottom: solid 2px #ccc;
}
.resultadoTabla th,
td {
  padding: 15px;
}

.resultadoTabla tr:hover td {
  background-color: rgb(146, 138, 138);
  color: #fff;
}