*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-image: url("../img/ekgPulseCut.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.rotulo{
	width: 100%;
	text-align: center;
	padding: 20px;
	margin: 60px 0;
	font-size: 32px;
	color: #FFF;
}

.buscador{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin: 200px 0;
	margin-bottom: 150px;
}

.textBox{
	width: 70%;
	height: 50px;
	margin-right: 0;
	border: none;
	background-color: #e8e4e1;
	padding: 10px;
	font-size: 16px;
	border: solid 2px #FFF;
	border-right: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.botonBuscar{
	width: 20%;
	height: 50px;
	margin-left: 0;
	border: none;
	background-color: #0a97b0;
	color: #FFF;
	font-size: 16px;
	border: solid 2px #FFF;
	border-left: none;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.botonBuscar:hover{
	background-color: #1b6ca8;
	cursor: pointer;
}

.result{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 70%;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 20px;
	margin-bottom: 200px;
}

.resultTable{
	text-align: left;
	border-collapse: collapse;
	width: 95%;
	font-size: 18px;
}

.resultTable thead{
	border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}

.resultTable th,td{
	padding: 15px;
}

.resultTable tr:hover td{
	background-color: rgba(0, 0, 0, 0.1);
	color: #FFF;
}

.resultTable a{
	text-decoration: none;
	text-align: center;
	padding: 5px;
	background-color: #21bf73;
	border-radius: 10px;
	color: #FFF;
}

.resultTable a:hover{
	background-color: #2c7873;
}

.formulario {
  height: 100px;
  width: 900px;
  background-color: transparent;
  margin-bottom: 50px;
}

.formulario label {
  font-family: fantasy;
  font-size: 20px;
}

.formulario input[type="text"] {
  border: none;
  outline:none;
  border-bottom: 1px solid #000;
  padding: 0 22px;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
  color: #000;
  background-color:transparent;
  
}

.formulario input[type="submit"] {
  float: right;
  outline: none;
  height: 40px;
  font-size: 16px;
  display: block;
  cursor: pointer;
  color: #000;
  margin-left: 25px;
}

.btnAdd {
  border-radius: 20px;
  height: 50px;
  width: 80px;
  background-color: rgb(9, 155, 253);
  font-family: fantasy;
  outline: none;
  border: 2px solid #fff;
}

.btnAdd:hover {
  background-color: rgb(21, 119, 126);
}
