*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	margin: 0;
	padding: 0;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../img/electrocardiogramHD.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.anuncio{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 150px;
	background-color: rgba(255, 255, 255, 0.5);
}

.anuncio h5{
	text-align: center;
	font-size: 28px;
	padding: 10px;
	margin-top: 35px;
	margin-bottom: 35px;
	width: 50%;
	background-color: #ee8572;
	border-radius: 15px;
	border: 3px solid #FFF;
	cursor: default;
}

.logIn{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 60%;
	margin: 5px;
	margin-top: 0;
	padding: 5px;
}

.logIn span{
	font-weight: bold;
	font-size: 18px;
}

.logIn a{
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	background-color: #035aa6;
	border-radius: 10px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	padding: 5px;
	margin: 5px;
	letter-spacing: 1px;
	color: #FFF;
	width: 20%;
}

.logIn a:hover{
	background-color: #eff3c6;
	color: #000;
}

.principal{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 100px;
	margin-bottom: 60px;
}

.item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: 250px;
}

.item .circle{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 200px;
	border: 3px solid rgba(255, 255, 255, 0.2);
	transition: all 0.7s;
	width: 35%;
}

.item .circle:hover{
	transform: scale(1.2);
	background-color: rgba(255, 255, 255, 0.7);
	border: 3px solid #FFF;
	transition: all 0.7s;
}

.item .circle img{
	width: 80%;
	margin: 10px;
}

.item span{
	letter-spacing: 2px;
	margin-top: 30px;
	font-size: 24px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
}

.item p{
	margin-top: 10px;
	font-size: 18px;
	color: #FFF;
	width: 80%;
	text-align: center;
}

.inf{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 80px 5px;
	width: 100%;
	background-color: #FFF;
}

.inf h1{
	font-size: 50px;
	width: 90%;
	margin: 5px 0;
	padding: 5px 0;
}

.inf h2{
	font-size: 40px;
	width: 90%;
}

.inf p{
	font-size: 24px;
	width: 90%;
}

.rotulo{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	background-image: url("../img/fondoMdc3.jpg");
}

.rItems{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 80px 0;
	width: 55%;
}

.rItems h2{
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	font-size: 50px;
	width: 70%;
	padding: 30px;
	margin: 40px 0;
	margin-bottom: 3px;
	color: #FFF;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.rItems p{
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 30px;
	width: 70%;
	padding: 30px;
	color: #FFF;
	margin-top: 3px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
