@charset "ISO-8859-1";

body{
background-image:url("https://previews.123rf.com/images/peshkova/peshkova1801/peshkova180100479/92883244-m%C3%A9dico-con-pantalla-m%C3%A9dica-digital-salud-en-el-fondo-borroso-exposicion-doble.jpg");
background-size:cover;
}

.header{
    text-align: center;
    height: 300px;
    padding: 12px;  
    background-image: url("https://img.freepik.com/vector-gratis/doctores-que-vacunan-familia-consultorio_24877-62986.jpg?size=626&ext=jpg") ;
    border-bottom:3px solid #fff;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 160px;
    cursor:pointer;
    border: 2px solid #000;
}

.nombredeusuario{
    font-size: 25px;
    margin-top: 20px;
    color: #000;
}

.social{
    list-style: none;
    text-align: center;
    padding: 0;
    margin-top: 110px;
}

.social li{
    display: inline-block;
    margin: 5px;
}

.social a{
    text-decoration: none;
    font-size:40px;
   color:rgb(187, 40, 40);
}

.social a:hover{
    color: #f70606;
}

.icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
}

.email{
    background-image: url(../img/email.svg);
}

.facebook{
    background-image: url(../img/Facebook.svg);
}

.twitter{
    background-image: url(../img/twitter.svg);
}

.acercade{
padding: 10px;
}

.acercade h3{
    color: #000;
    font-size: 25px;
    
}

.acercade p{
    color: #545454;
    font-size: 16px;
}

.container-table{
    box-shadow: 0 0 20px #333;
}

.container-table .buttonaceptar {
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #26ad14;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: none;
}

.container-table .buttonaceptar:hover{
    background-color: #258f17;
}

.container-table .buttonrechazar {
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #e60b0b;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: none;
}

.container-table .buttonrechazar:hover{
    background-color: #c90f0f;
}

/*InfoPerYhorario*/
*{
    margin: 0px;
    padding: 0px;
}
.container1{
    margin: auto;
    width: auto; /*1349px*/
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.infoper{
    margin-top: 10px;
    width: 400px;
    height: 200px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #000;
    box-shadow: 0 0 20px #000;
}

.infoper h2{
    margin-top: 7px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    background-color: tomato;
    border-radius: 15px;
}

 .opcioni{
	 float:right;
    margin-top:2px;
    margin-left:15px;
    width: 60px;
    height: 20px;
   background-color:tomato;
    border-radius: 10px;
    border:1px solid #000;
    font-family: fantasy;
    cursor: pointer;
    color:#fff;
}

 .opcioni:hover{
    background-color:#fff;
    color:#000
}

#espacio{
    margin-top: 8px;
}
.infoper h4{
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 10px;
}

.infoper span{
    font-family: fantasy;
    font-size: 20px;
}

/*horario*/
.horario{
    margin-top: 10px;
    width: 400px;
    height: 200px;
    background-color: white;
     border-radius: 15px;
}

.horario .container2{
    width: 100%;
    max-width: 1000px;/*limite de su ancho*/
    height: auto;
    margin: auto;/*para que se centre cuando pase los 1000px */
    border-radius: 15px;
    border: 1px solid #000;
    box-shadow: 0 0 20px #000;
}

.horario .table1{
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed; 
}

.horario .table1 caption{
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
    background-color: teal;
    border-radius: 15px;
}

.opcionh{
	 float: right;
    margin-right: 10px;
    margin-top:2px;
    width: 60px;
    height: 20px;
    background-color: teal;
    border-radius: 10px;
    border:1px solid #000;
    font-family: fantasy;
    cursor: pointer;
    color:#fff;
}

.opcionh:hover{
    background-color:#fff;
    color:#000
}

.horario.table1 th,.horario .table1 td{
    font-size: 16px;
    padding: 8px;
    text-align: center;
    font-family: fantasy;
    /* border:1px solid rgb(99, 98, 98); */
}

.horario .table1 thead th{
    text-transform: uppercase;
    background-color: rgb(215, 235, 143);
    /* border: 1px solid #000; */
}

.horario .table1 tbody td{
    /* background-color: rgba(0, 0, 0, 0.1); */
}

/*//horario*/


/*//InfoPerYhorario*/

/*Tabla*/
.container{
    width: 100%;
    max-width: 1000px;/*limite de su ancho*/
    margin: auto;/*para que se centre cuando pase los 1000px */
box-shadow: 0 0 20px #000;
border-radius: 15px;
background-color:#fff;
}

.table{
    width: 100%;
    /* border: 1px solid #ccc; */
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
   
}

.table caption{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}

.opciones{
    float: right;
    margin-right: 10px;
    width: 70px;
    height: 25px;
    background-color: #fff;
    border-radius: 10px;
    border:1px solid #000;
    font-family: fantasy;
    cursor: pointer;
}

.opciones:hover{
    background-color: rgb(223, 223, 223);
}

.table tr{
    background-color: rgba(0, 0, 0,0.1);
   /* border-radius: 15px solid #000 ; */
    /* border:1px solid rgb(99, 98, 98); */
}

.table th, .table td{
    font-size: 16px;
    padding: 8px;
    text-align: center;
    font-family: fantasy;
    border:1px solid rgb(99, 98, 98);
}

.table thead th{
    text-transform: uppercase;
    background-color: rgb(245, 142, 142);
}

.table tbody tr:hover{
background-color: rgba(0, 0, 0, 0.2);
}

.table tbody td{
    background-color: rgba(0, 0, 0, 0.1);
}

/* .table tbody td:hover{
    background-color: rgba(0, 0, 0, 0.3);
} */
.container .table .buttonaceptar {
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #26ad14;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: none;
}

.container .table .buttonaceptar:hover{
    background-color: #258f17;
}

.container .table .buttonrechazar {
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #e60b0b;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: none;
}

.container .table .buttonrechazar:hover{
    background-color: #c90f0f;
}

@media screen and (max-width:600px){
    .table{
        border: 0px;
    }
    .table caption{
        font-size: 22px;
    }
    .table thead{
        display: none;
    }
    .table tr{
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table th, .table td {
        font-size: 12px;
    }
    
}

/*Tabla//*/

/*agendaYmás*/
*{
    margin: 0px;
    padding: 0px;
}

#general{
    margin: auto;
    /* margin-top: 50px; */
    width: auto; /*1349px*/
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  
}
/*Proxima cita*/
#proximacita {
    /* float: right; */
    width: 400px;
    height: 300px;
    /* margin-right: 10px; */
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #000;
    box-shadow: 0 0 20px #000;
}

#proximacita h2{
text-transform: uppercase;
font-size: 28px;
text-align: center;
font-weight: bold;
font-family: fantasy;
margin: 8px 0px;
background-color: #e176f0;
border-radius: 15px;
}

#proximacita .opcionc{
	 float: right;
    margin-right: 10px;
    margin-top:2px;
    width: 60px;
    height: 20px;
   background-color:#e176f0;
    border-radius: 10px;
    border:1px solid #000;
    font-family: fantasy;
    cursor: pointer;
    color:#fff;
}

#proximacita .opcionc:hover{
    background-color:#fff;
    color:#000
}

#proximacita h4{
    font-size: 15px;
    margin-left: 10px;
    font-family: sans-serif;
}

/*//proxima cita*/

/*algo*/
#aunnosesabe{
    /* margin-right: 60px; */
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #000;
    float:inline-end ;
    box-shadow: 0 0 20px #000;
}

#aunnosesabe h2{
    margin-top: 100px;
    font-family: serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

 .opcionn{
	 float: right;
    margin-right: 10px;
    margin-top:2px;
    width: 60px;
    height: 20px;
   background-color:#fff;
    border-radius: 10px;
    border:1px solid #000;
    font-family: fantasy;
    cursor: pointer;
    color:#000;
}

.opcionn:hover{
    background-color:#ccc;
    color:#000
}
/*//algo*/

/*agenda*/
#agenda{
    /* margin-top: 20px; */
    /* margin-left: 10px; */
    width: 400px;
    height: 350px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px #000;
    border: 1px solid #000;
}


#agenda .container2{
  /*   width: 100%;
    max-width: 1000px;limite de su ancho
    margin: auto;para que se centre cuando pase los 1000px
    border-radius: 15px;
border: 1px solid #000;
box-shadow: 0 0 15px #000; */

}

 #agenda .table2{
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
   
}

 #agenda .table2 caption{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family:fantasy;
    margin: 11px 0px;
    background-color: #f77878;
    border-radius: 15px;
}

.table2 button{
    float: right;
    margin-right: 10px;
    margin-top:1.8px;
    width: 60px;
    height: 20px;
    background-color: #f77878;
    color:#000;
    border-radius: 10px;
    border:1px solid #000;
    font-family: fantasy;
    cursor: pointer;
}

.table2 button:hover{
    background-color: #ccc;
}

#general #agenda .table tr{
    /* background-color: rgba(0, 0, 0,0.1); */
}
.table #final{
    /* border-end-end-radius: 15px;
    border: 1px solid #000;  */
}

 #agenda .table2 th, #agenda .table2 td{
    font-size: 16px;
    padding: 8px;
    text-align: center;
    font-family: fantasy;
     border-bottom:2px solid #000;
   
}

 #agenda .table2 thead th{
    text-transform: uppercase;
    background-color: rgb(134, 247, 168);
}
/*//agendaymas*/