<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>PacienteControler</servlet-name>
  	<display-name>PacienteControler</display-name>
  	<description></description>
  	<servlet-class>Controler.PacienteControler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServeltPaciente</servlet-name>
  	<display-name>ServeltPaciente</display-name>
  	<description></description>
  	<servlet-class>Controler.ServeltPaciente</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servletInfPaciente</servlet-name>
  	<display-name>servletInfPaciente</display-name>
  	<description></description>
  	<servlet-class>Controler.servletInfPaciente</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServeltCita</servlet-name>
  	<display-name>ServeltCita</display-name>
  	<description></description>
  	<servlet-class>Controler.ServeltCita</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServeltMedi</servlet-name>
  	<display-name>ServeltMedi</display-name>
  	<description></description>
  	<servlet-class>Controler.ServeltMedi</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PacienteControler</servlet-name>
  	<url-pattern>/PacienteControler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServeltPaciente</servlet-name>
  	<url-pattern>/ServeltPaciente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servletInfPaciente</servlet-name>
  	<url-pattern>/servletInfPaciente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServeltCita</servlet-name>
  	<url-pattern>/ServeltCita</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServeltMedi</servlet-name>
  	<url-pattern>/ServeltMedi</url-pattern>
  </servlet-mapping>
</web-app>
